Repository Driftmeta/flutter_catalog, pull requests merged in 2023-08, with the labels that each got.

#5 #4: Updated Folder Structure
  lib/catalog/home.dart
  lib/catalog/widgets/sized_box.dart
  lib/core/property_holder.dart
  lib/core/property_provider.dart
  lib/main.dart
  lib/property_fields/enums.dart
  lib/property_fields/number_field.dart
  lib/screens/animations/animations.dart
  lib/screens/animations/built_in_animations/animated_container.dart
  lib/screens/widgets/sized_box.dart
  lib/settings/animated_container.dart
  lib/settings/base.dart
  lib/settings/border.dart
  lib/settings/border_radius.dart
  lib/settings/box_decoration.dart
  lib/settings/box_shadow.dart
  lib/settings/offset.dart
  lib/widgets/core/properties_drawer.dart
  lib/widgets/core/propery_builder.dart
  lib/widgets/core/scaffold.dart
  lib/widgets/drawers/animated_container_settings.dart
  lib/widgets/fields/color_picker.dart
  lib/widgets/fields/number_range.dart
  lib/widgets/property_holders/alignment_field.dart
  lib/widgets/property_holders/color_picker.dart
Labels: documentation, architecture

#6 #1: Implemented number property field
  lib/property_fields/number_field.dart
  lib/widgets/fields/number_field.dart
  lib/widgets/text_field.dart
  lib/widgets/title_text.dart
Labels: property field

#10 7: HotFix -> Fixed property not changing to null
  lib/core/property_provider.dart
Labels: bug

#8 #2: Implement Boolean Property Field
  lib/catalog/widgets/sized_box.dart
  lib/core/property_provider.dart
  lib/property_fields/boolean_field.dart
  lib/widgets/boolean_field.dart
  lib/widgets/field_title.dart
  lib/widgets/fields/boolean_field.dart
Labels: property field

#13 12: Add a property playground widget
  lib/catalog/widgets/playground.dart
  lib/core/property_provider.dart
  lib/main.dart
Labels: property field, architecture

#17 #15: Update property registration and created mason brick for it
  .mason/bricks.json
  analysis_options.yaml
  bricks/property_field/CHANGELOG.md
  bricks/property_field/LICENSE
  bricks/property_field/README.md
  bricks/property_field/__brick__/lib/property_fields/{{name.snakeCase()}}_field.dart
  bricks/property_field/__brick__/lib/widgets/fields/{{#generateFieldWidget}}{{name.snakeCase()}}_field.dart{{/generateFieldWidget}}
  bricks/property_field/brick.yaml
  lib/catalog/widgets/playground.dart
  lib/catalog/widgets/sized_box.dart
  lib/core/property_provider.dart
  lib/property_fields/boolean_field.dart
  lib/property_fields/enums.dart
  lib/property_fields/number_field.dart
  lib/widgets/fields/boolean_field.dart
  mason-lock.json
  mason.yaml
Labels: property field, architecture

#14 #3: DropDownButton with Enum
  lib/catalog/widgets/playground.dart
  lib/property_fields/enums.dart
  lib/property_fields/list_field.dart
  lib/property_fields/number_field.dart
  lib/widgets/fields/list_field.dart
  lib/widgets/text_field.dart
Labels: property field
